body{
    font-family: calibri;
    background:  url(https://i.pinimg.com/originals/0e/cf/91/0ecf913f54722356ebfa2ad84f02b42c.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#card{
    border-radius: 12px;
}
.card{
    background: black;
    margin: auto;
    margin-top: 175px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.username{
    height: 75%;
    margin: 0%;
    /* padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px;
    color: white;
    background-color: #38ac74;
}
.username p{
    font-size: 30px;
}
.userpic{
    width: 75px;
    float: right;
}
.userabout{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
}
.dark{
    width: fit-content;
    margin: auto;
}
a{
    margin: auto;
    padding: 15px;
}